h1, h2, h3, h4 {
    color:salmon;
    font-size: 35px;
}

p1 {
    color:dimgray
}

ul {
    color: blueviolet;
}

ol {
    color: darkorange;
    background-color: aquamarine;
}

.author {
    color: aqua;
    font-size: large;
}

.date {
    color: blue;
    font-size: x-large;
}

img {
    width: 1000px;
}